.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: "cabecalho" "conteudo" "rodape";
    grid-template-columns: 100%;
    grid-template-rows: 50px 3700px 20px;
    
}

.top {

    grid-area: cabecalho;
    /*background: linear-gradient(to right,rgb(0, 0, 0),rgb(0, 0, 0));*/
    /*background:red;*/
    background: linear-gradient(to right,rgb(13, 14, 13),rgb(45, 46, 45));
    
    color: white;




    display: grid;

    grid-template-rows: 20% 60% 20%;

    grid-template-columns: 20% 40% 30% 10%;

    
}
 


.button-inicio {

    color: white;

    font-family: 'Neucha', cursive;

    font-size: 30px;

    margin-left: 20px; 

    margin-top: 5px;


    grid-row: 2 / 2;

    grid-column: 1 / 1;


}

.button-inicio:hover {


    color: #DB7093;

}

.input-search-bar {


    

    float:right;

    grid-row: 2 / 2;

    grid-column: 3 / 3;


    color: white !important;
    
    border-bottom: 1px solid white !important;




    height: 30px !important;



}

.input-search-bar:focus {

    outline: transparent !important;

    color: white !important;

    border-bottom: 3px solid #DB7093 !important;

    font-family: 'Neucha', cursive;

}


.button-confirm-search {


    color: white;

    font-family: 'Neucha', cursive;

    font-size: 30px;

    width: 200px;


    grid-row: 2 / 2;

    grid-column: 4 / 4;

    background-color: transparent !important;

    margin-top: 2px;

    




}

.button-confirm-search:hover {


    color: #DB7093;

}
.content {


    grid-area: conteudo;
    /*background: linear-gradient(to right,rgb(23, 66, 6),rgb(3, 32, 4))*/
    /*background: url("old_paper_texture4.jpg") center / cover no-repeat;*/
    background: linear-gradient(to right,rgb(13, 14, 13),rgb(45, 46, 45));
 
    display: grid;  
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}




.footer {
    grid-area: rodape;
    /*background: linear-gradient(to right,rgb(23, 66, 6),rgb(99, 7, 86))*/

    background: linear-gradient(to right,rgb(13, 14, 13),rgb(45, 46, 45));

    color: white;
}

.title-div {


    grid-row: 1 / 1;

    grid-column: 1 / 11;


    text-align: center;

    align-items: center;

    font-family: 'Indie Flower', cursive;

    font-size: 80px;

    /*background: #DB7093;*/

    background:linear-gradient(to left,rgb(248, 58, 122),rgb(77, 50, 77));


    color: white;

    display: grid;

    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-rows: 25% 25% 25% 25% ;




}


.text-title {


    grid-row: 2 / 4;

    grid-column: 2 / 4;


    font-family: 'Indie Flower', cursive;

    font-size: 100px;

    



}

.title-fantasy {


    grid-row: 2 / 2;

    grid-column: 1 / 11;

    text-align: left;

    font-family: 'Neucha', cursive;

    font-size: 80px;

    margin-left: 50px;

    color: white;


}



.element-carousel {

    

    background: linear-gradient(to left,rgb(13, 14, 13),rgb(45, 46, 45));

    color: white;

   

    border: 1px solid white;

    



    align-items: center !important;


    text-align: center !important;

    justify-content: center !important;


    width: 270px !important;

    height: 370px !important;

    margin-right: 10px;

    margin-left: 10px;

    display: grid !important;

    grid-template-columns: 100% ;
    grid-template-rows: 75% 15% 10% ;


}


.element-carousel:hover {

    border: 5px solid #DB7093;

    width: 370px !important;

    height: 470px !important;


}


.text-element-carousel {


    grid-row: 2 / 2;

    grid-column: 1 / 1;

    font-size: 20px;

    font-family: 'Indie Flower', cursive;


}



.image-element-carousel {

    grid-row: 1 / 1;

    grid-column: 1 / 1;

    height: 100%;

    width: 100%;

    border: black;

}


.button-element-carousel {


    grid-row: 3 / 3;

    grid-column: 1 / 1;


    height: 25px;

    width: 100px;
    margin: auto;  

    background-color: #DB7093;

    border-radius: 2px;

    border: black;

    color: black;

    font-family: 'Indie Flower', cursive;

    font-size: 20px;



}

.button-element-carousel:hover {

    background-color: gray;

    color: white;

}






.title-fantasy {


    grid-row: 2 / 2;

    grid-column: 1 / 11;

    text-align: left;

    font-family: 'Neucha', cursive;

    font-size: 80px;

    margin-left: 50px;

    color: white;


}




.carousel-search-products {

    grid-row: 3 / 5;

    grid-column: 1 / 11;

    margin-left: 50px;

    margin-right: 50px;
}



.suggestions > div {

    padding: 15px;
    font-size: 20px;
    color: black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    cursor: pointer;

    background-color: rgb(245, 240, 240);
    width: 550px;

    grid-row: 2 / 2;

    grid-column: 4 / 4;

    font-family: 'Indie Flower', cursive;

    
}


.suggestions > div:hover {

    /*background-color: #DB7093;*/

    background:rgb(77, 50, 77);

    color: white;

}




.suggestions{



    margin-top: 50px;

    margin-left: 1100px;

    position: absolute;
    
    z-index: 1000;

}


.hidden {
    visibility: hidden;
  }
