{% load static %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIBLIOTECA PRECISA</title>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    

    <link rel="stylesheet" type="text/css" href="{% static 'slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick-theme.css' %}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'google-fonts.css' %}"> 
    <link rel="stylesheet" href="{% static 'materialize.css' %}"> 
    <link rel="stylesheet" href= "{% static 'styles.css' %}"> 
    
</head>
<body class="app">

    <header class="top">

        <a style="text-decoration: none;" class="button-inicio" href="{% url 'index' %}">Início</a>

        <input class="input-search-bar" type='text'>

        <div class="suggestions">
                
        </div>

        <!--<a href="" style="text-decoration: none;" class="button-search">Search</a>-->

        <a class="waves-effect waves-light btn button-confirm-search" href="{% url 'search_results' %}"><i class="material-icons left">search</i>Search</a>


    </header>

    <main class="content">

        <div class="title-div"><h1 class='text-title'><strong>Biblioteca Precisa</strong></h1></div>

        <div class="div-names hidden" hidden>

        {% if data_book %}
        {% for book in data_book  %}


        <div class="element-carousel hidden" hidden>
            

            <h1 class='text-element-carousel-name hidden' hidden>{{book.book_name}}</h1>
            
 
        </div>

        {% endfor %}
        {% else %}
        {% endif %}


        </div>

        <h1 class="title-fantasy">Fantasia</h1>

        
                
        <div class="carousel-fantasia">



            {% if data_book %}
            {% for book in data_book  %}

            

            {% if book.category == 'Fantasia' %}

            <div class="element-carousel">
                
                <img src="{% static book.url_image %}" class="image-element-carousel" alt="">

                <h1 class='text-element-carousel-name' hidden>{{book.book_name}}</h1>

                <h1 class='text-element-carousel-img_url' hidden>{{book.url_image}}</h1>

                <h1 class='text-element-carousel-author' hidden>{{book.author}}</h1>

                <h1 class='text-element-carousel-synopsis' hidden>{{book.synopsis}}</h1>

                <h1 class='text-element-carousel-volume' hidden>{{book.volume}}</h1>

                <h1 class='text-element-carousel-edition' hidden>{{book.version}}</h1>
                
                <h1 class='text-element-carousel'>{{book.book_name}} - {{book.author}}</h1>

                <!--<button class='button-element-carousel'><strong>Leia mais</strong></button>-->

                <a class="button-element-carousel" href="{% url 'read_more' %}"><strong>Leia mais</strong></a>


            
            </div>

            {% else %}
            {% endif %}

            {% endfor %}
            {% else %}
            {% endif %}

        </div>





        <h1 class="title-suspense">Suspense</h1>


        <div class="carousel-suspense">
          
            {% if data_book %}
            {% for book in data_book  %}

            

            {% if book.category == 'Suspense' %}

            <div class="element-carousel">
                
          
                <img src="{% static book.url_image %}" class="image-element-carousel" alt="">

                <h1 class='text-element-carousel-name' hidden>{{book.book_name}}</h1>

                <h1 class='text-element-carousel-img_url' hidden>{{book.url_image}}</h1>

                <h1 class='text-element-carousel-author' hidden>{{book.author}}</h1>

                <h1 class='text-element-carousel-synopsis' hidden>{{book.synopsis}}</h1>

                <h1 class='text-element-carousel-volume' hidden>{{book.volume}}</h1>

                <h1 class='text-element-carousel-edition' hidden>{{book.version}}</h1>
                
                <h1 class='text-element-carousel'>{{book.book_name}} - {{book.author}}</h1>

                <!--<button class='button-element-carousel'><strong>Leia mais</strong></button>-->

                <a class="button-element-carousel" href="{% url 'read_more' %}"><strong>Leia mais</strong></a>

            
            </div>

            {% else %}
            {% endif %}

            {% endfor %}
            {% else %}
            {% endif %}

        </div>



        <h1 class="title-drama">Drama</h1>


        <div class="carousel-drama">
           
            {% if data_book %}
            {% for book in data_book  %}

            

            {% if book.category == 'Drama' %}

            <div class="element-carousel">
                
          
                <img src="{% static book.url_image %}" class="image-element-carousel" alt="">

                <h1 class='text-element-carousel-name' hidden>{{book.book_name}}</h1>

                <h1 class='text-element-carousel-img_url' hidden>{{book.url_image}}</h1>

                <h1 class='text-element-carousel-author' hidden>{{book.author}}</h1>

                <h1 class='text-element-carousel-synopsis' hidden>{{book.synopsis}}</h1>

                <h1 class='text-element-carousel-volume' hidden>{{book.volume}}</h1>

                <h1 class='text-element-carousel-edition' hidden>{{book.version}}</h1>
                
                <h1 class='text-element-carousel'>{{book.book_name}} - {{book.author}}</h1>

                <!--<button class='button-element-carousel'><strong>Leia mais</strong></button>-->

                <a class="button-element-carousel" href="{% url 'read_more' %}"><strong>Leia mais</strong></a>

            
            </div>

            {% else %}
            {% endif %}

            {% endfor %}
            {% else %}
            {% endif %}

        </div>


    <h1 class="title-terror">Terror</h1>

        <div class="carousel-terror">
    
            {% if data_book %}
            {% for book in data_book  %}

            

            {% if book.category == 'Terror' %}

            <div class="element-carousel">
                
          
                <img src="{% static book.url_image %}" class="image-element-carousel" alt="">

                <h1 class='text-element-carousel-name' hidden>{{book.book_name}}</h1>

                <h1 class='text-element-carousel-img_url' hidden>{{book.url_image}}</h1>

                <h1 class='text-element-carousel-author' hidden>{{book.author}}</h1>

                <h1 class='text-element-carousel-synopsis' hidden>{{book.synopsis}}</h1>

                <h1 class='text-element-carousel-volume' hidden>{{book.volume}}</h1>

                <h1 class='text-element-carousel-edition' hidden>{{book.version}}</h1>
                
                <h1 class='text-element-carousel'>{{book.book_name}} - {{book.author}}</h1>

                <!--<button class='button-element-carousel'><strong>Leia mais</strong></button>-->

                <a class="button-element-carousel" href="{% url 'read_more' %}"><strong>Leia mais</strong></a>

            </div>

            {% else %}
            {% endif %}

            {% endfor %}
            {% else %}
            {% endif %}

        </div>



        <h1 class="title-auto-ajuda">Auto-ajuda</h1>

        <div class="carousel-auto-ajuda">
     
            {% if data_book %}
            {% for book in data_book  %}

            

            {% if book.category == 'Auto-ajuda' %}

            <div class="element-carousel">
                
          
                <img src="{% static book.url_image %}" class="image-element-carousel" alt="">

                <h1 class='text-element-carousel-name' hidden>{{book.book_name}}</h1>

                <h1 class='text-element-carousel-img_url' hidden>{{book.url_image}}</h1>

                <h1 class='text-element-carousel-author' hidden>{{book.author}}</h1>

                <h1 class='text-element-carousel-synopsis' hidden>{{book.synopsis}}</h1>

                <h1 class='text-element-carousel-volume' hidden>{{book.volume}}</h1>

                <h1 class='text-element-carousel-edition' hidden>{{book.version}}</h1>
                
                <h1 class='text-element-carousel'>{{book.book_name}} - {{book.author}}</h1>

                <!--<button class='button-element-carousel'><strong>Leia mais</strong></button>-->

                <a class="button-element-carousel" href="{% url 'read_more' %}"><strong>Leia mais</strong></a>

            </div>

            {% else %}
            {% endif %}

            {% endfor %}
            {% else %}
            {% endif %}

        </div>












        <h1 class="title-romance">Romance</h1>

        <div class="carousel-romance">

            {% if data_book %}
            {% for book in data_book  %}

            

            {% if book.category == 'Romance' %}

            <div class="element-carousel">
                
          
                <img src="{% static book.url_image %}" class="image-element-carousel" alt="">

                <h1 class='text-element-carousel-name' hidden>{{book.book_name}}</h1>

                <h1 class='text-element-carousel-img_url' hidden>{{book.url_image}}</h1>

                <h1 class='text-element-carousel-author' hidden>{{book.author}}</h1>

                <h1 class='text-element-carousel-synopsis' hidden>{{book.synopsis}}</h1>

                <h1 class='text-element-carousel-volume' hidden>{{book.volume}}</h1>

                <h1 class='text-element-carousel-edition' hidden>{{book.version}}</h1>
                
                <h1 class='text-element-carousel'>{{book.book_name}} - {{book.author}}</h1>

                <!--<button class='button-element-carousel'><strong>Leia mais</strong></button>-->

                <a class="button-element-carousel" href="{% url 'read_more' %}"><strong>Leia mais</strong></a>

            </div>

            {% else %}
            {% endif %}

            {% endfor %}
            {% else %}
            {% endif %}

        </div>





    </main>

    <footer class="footer">footer</footer>






</body>

<script type="text/javascript" src="{% static 'jquery.js' %}"></script>   




<script type="text/javascript" src="{% static 'slick.min.js' %}"></script>




<script type="text/javascript">
 
    $('.carousel-fantasia').slick({
  infinite: true,
  slidesToShow: 4,
  slidesToScroll: 3
});

$('.carousel-suspense').slick({
  infinite: true,
  slidesToShow: 4,
  slidesToScroll: 3
});

$('.carousel-drama').slick({
  infinite: true,
  slidesToShow: 4,
  slidesToScroll: 3
});

$('.carousel-terror').slick({
  infinite: true,
  slidesToShow: 4,
  slidesToScroll: 3
});

$('.carousel-auto-ajuda').slick({
  infinite: true,
  slidesToShow: 4,
  slidesToScroll: 3
});

$('.carousel-romance').slick({
  infinite: true,
  slidesToShow: 4,
  slidesToScroll: 3
});


   
</script>

<script type="text/javascript" src="{% static 'button_search_index.js' %}"></script>

<script type="text/javascript" src="{% static 'read_more.js' %}"></script>

</html>